<div class="clr-row clr-align-items-end">
  <div class="clr-col-4">
    <clr-datalist-container>
      <label>Attribute Name</label>
      <input
        name="Option"
        required
        clrDatalistInput
        (change)="onAttributeNameChange()"
        [(ngModel)]="attributeName"
      />
      <datalist style="width: 100%">
        <option
          *ngFor="let attributeName of attributeNameSuggestions"
          [value]="attributeName"
        ></option>
      </datalist>
    </clr-datalist-container>
  </div>
  <div class="clr-col-4">
    <clr-datalist-container>
      <label>Operator</label>
      <input
        name="Option"
        required
        clrDatalistInput
        (change)="onChange()"
        [(ngModel)]="operator"
      />
      <datalist>
        <option
          *ngFor="let operator of operatorSuggestions"
          [value]="operator.value"
        >
          {{ operator.description }}
        </option>
      </datalist>
    </clr-datalist-container>
  </div>
  <div class="clr-col-4">
    <ng-container [ngSwitch]="valueType">
      <clr-date-container *ngSwitchCase="'date'">
        <label>Value</label>
        <input
          [clrDate]="dateValue"
          type="date"
          name="value"
          (clrDateChange)="onDateChange($event)"
          required
          style="width: 80%"
        />
      </clr-date-container>
      <ng-container *ngSwitchCase="'long'">
        <ng-container *ngTemplateOutlet="numberInput"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'double'">
        <ng-container *ngTemplateOutlet="numberInput"></ng-container>
      </ng-container>
      <clr-checkbox-wrapper *ngSwitchCase="'boolean'">
        <input
          type="checkbox"
          clrCheckbox
          value="value"
          name="value"
          (change)="onChange()"
          [(ngModel)]="value"
        />
      </clr-checkbox-wrapper>
      <clr-input-container *ngSwitchDefault>
        <label>Value</label>
        <input
          clrInput
          name="value"
          (change)="onChange()"
          [(ngModel)]="value"
          required
          style="width: 100%"
        />
      </clr-input-container>
    </ng-container>
  </div>
</div>

<ng-template #numberInput>
  <clr-input-container>
    <label>Value</label>
    <input
      clrInput
      name="value"
      (change)="onChange()"
      [(ngModel)]="value"
      type="number"
      style="width: 100%"
      required
  /></clr-input-container>
</ng-template>
