<div class="clr-row clr-align-items-end">
  <div class="clr-col-4">
    <clr-datalist-container>
      <label>Attribute Name</label>
      <input
        name="Option"
        required
        clrDatalistInput
        (change)="onChange()"
        [(ngModel)]="attributeName"
      />
      <datalist>
        <option
          *ngFor="let attributeName of attributeNameSuggestions"
          [value]="attributeName"
        ></option>
      </datalist>
    </clr-datalist-container>
  </div>
  <div class="clr-col-4">
    <clr-datalist-container>
      <label>Operator</label>
      <input
        name="Option"
        required
        clrDatalistInput
        (change)="onChange()"
        [(ngModel)]="operator"
      />
      <datalist>
        <option
          *ngFor="let operator of operatorSuggestions"
          [value]="operator"
        ></option>
      </datalist>
    </clr-datalist-container>
  </div>
  <div class="clr-col-4">
    <ng-container [ngSwitch]="valueType">
      <clr-date-container *ngSwitchCase="'date'">
        <label>Value</label>
        <input
          [clrDate]="dateValue"
          type="date"
          name="value"
          (clrDateChange)="onDateChange($event)"
          required
        />
      </clr-date-container>
      <clr-input-container *ngSwitchDefault>
        <label>Value</label>
        <input
          clrInput
          name="value"
          (change)="onChange()"
          [(ngModel)]="value"
          style="width: 100%"
          required
        />
      </clr-input-container>
    </ng-container>
  </div>
</div>
