<div class="map-switcher">
  <clr-dropdown>
    <button class="btn btn-outline-primary" type="button" clrDropdownTrigger>
      <clr-icon shape="world"></clr-icon>
      <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu clrPosition="left-top" *clrIfOpen>
      <label class="dropdown-header" aria-hidden="true"
        >Change Map Background</label
      >
      <div aria-label="Dropdown header OSM" clrDropdownItem>OSM</div>
      <div aria-label="Dropdown header Other" clrDropdownItem>Other</div>
    </clr-dropdown-menu>
  </clr-dropdown>
</div>
