<div *ngIf="(selectedProduct$ | async) !== undefined">
  <div class="clr-row">
    <div class="clr-col-4">
      <button
        class="btn btn-icon btn-sm"
        (click)="selectPreviousProduct()"
        [disabled]="!!((selectedProductPageIndex$ | async)?.idx <= 0)"
      >
        <clr-icon shape="step-forward-2 down"></clr-icon> Previous
      </button>
    </div>
    <div class="clr-col-4 align-right">
      <button
        class="btn btn-primary btn-icon btn-sm"
        (click)="downloadProduct()"
      >
        <clr-icon shape="download"></clr-icon> Download
      </button>
    </div>
    <div class="clr-col-4 align-right">
      <button
        class="btn btn-icon btn-sm"
        (click)="selectNextProduct()"
        [disabled]="
          (selectedProductPageIndex$ | async)?.idx &&
          (selectedProductPageIndex$ | async)?.idx >=
            (selectedProductPageIndex$ | async)?.totalLength - 1
        "
      >
        Next <clr-icon shape="step-forward-2"></clr-icon>
      </button>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col">
      <h4>Quicklook</h4>
      <div *ngIf="(selectedProduct$ | async)?.Quicklooks?.length > 0">
        <img
          [hidden]="quicklookImageLoadError"
          class="quicklookimage"
          [attr.src]="((selectedProduct$ | async).Quicklooks[0]) | secure | async"
          (error)="onQuicklookImageError()"
          alt=""
        />
        <span *ngIf="quicklookImageLoadError"
          >Could not load quicklook image</span
        >
      </div>
      <span *ngIf="(selectedProduct$ | async)?.Quicklooks?.length === 0">
        No quicklook image available for this product.
      </span>
    </div>
  </div>

  <div class="clr-row">
    <div class="clr-col">
      <h4>Attributes</h4>

      <ul class="list-unstyled metadatalist">
        <li class="name">Id:</li>
        <li class="value">{{ (selectedProduct$ | async)?.Id }}</li>
        <li class="name">Filename:</li>
        <li class="value">{{ (selectedProduct$ | async)?.Name }}</li>
        <li class="name">Content Length:</li>
        <li class="value">
          {{ (selectedProduct$ | async)?.ContentLength | fileSize }}
        </li>
        <li class="name">Publication Date:</li>
        <li class="value">
          {{ (selectedProduct$ | async)?.PublicationDate | date }}
        </li>
        <li class="name">Eviction Date:</li>
        <li class="value">
          {{ (selectedProduct$ | async)?.EvictionDate | date }}
        </li>
        <li class="name">Checksum:</li>
        <li class="value">
          {{ (selectedProduct$ | async)?.Checksum[0].Value }} ({{
            (selectedProduct$ | async)?.Checksum[0].Algorithm
          }})
        </li>
        <li class="name">Production Type:</li>
        <li class="value">
          {{ (selectedProduct$ | async)?.ProductionType }}
        </li>
        <li class="name">Product Type:</li>
        <li class="value">
          {{ (selectedProduct$ | async)?.ProductType }}
        </li>
        <li class="name">Content Date Start:</li>
        <li class="value">
          {{ (selectedProduct$ | async)?.ContentDate.Start }}
        </li>
        <li class="name">Content Date End:</li>
        <li class="value">
          {{ (selectedProduct$ | async)?.ContentDate.End }}
        </li>
        <ng-container *ngFor="let additionalAttribute of additionalAttributes">
          <li class="name">{{ additionalAttribute.label }}:</li>
          <li class="value">{{ additionalAttribute.value }}</li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="(selectedProduct$ | async) === undefined">
  <div class="alert alert-info" role="alert">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
        </div>
        <span class="alert-text">
          No Product selected
          <br /><br />
          To show product details
          <ul>
            <li>Click a footprint</li>
            <li>Select a product in the results table</li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>
