<header class="header header-1">
  <div class="branding">
    <a href="/" class="nav-link">
      <clr-icon shape="world"></clr-icon>
      <span class="title">Copernicus Reference System - User Web Client</span>
    </a>
  </div>
</header>

<div class="content-container">
  <app-filter-sidebar
    [sidenavTemplateRef]="navContent"
    [navWidth]="280"
    [duration]="0.5"
  ></app-filter-sidebar>
  <app-map-viewer class="content-area"> </app-map-viewer>
</div>

<ng-template #navContent>
  Side Nav Bar Content Here
  <hr />
  asdasdasdasd
  <hr />
  dsadsadsadsadsa
  <hr />
  azertyazertyazerty
</ng-template>
