<div class="clr-row clr-align-items-end">
  <div class="clr-col-5">
    <clr-input-container>
      <label>{{ attributeName }}</label>
      <input
        clrInput
        placeholder="Fill in a text"
        name="{{ attributeName }}"
        (change)="valueChange($event)"
      />
    </clr-input-container>
  </div>
  <div class="clr-col-5">
    <div class="btn-group btn-sm">
      <div class="radio btn">
        <input
          type="radio"
          name="btn-group-operator-{{ attributeName }}"
          id="btn-startswith-{{ attributeName }}"
          (change)="operatorChange('startswith')"
        />
        <label for="btn-startswith-{{ attributeName }}">startswith</label>
      </div>
      <div class="radio btn">
        <input
          type="radio"
          name="btn-group-operator-{{ attributeName }}"
          id="btn-contains-{{ attributeName }}"
          (change)="operatorChange('contains')"
        />
        <label for="btn-contains-{{ attributeName }}">contains</label>
      </div>
      <div class="radio btn">
        <input
          type="radio"
          name="btn-group-operator-{{ attributeName }}"
          id="btn-demo-endswith-{{ attributeName }}"
          (change)="operatorChange('endswith')"
        />
        <label for="btn-demo-endswith-{{ attributeName }}">endswith</label>
      </div>
    </div>

    <!-- <clr-button-group class="btn-outline btn-sm">
      <clr-button (click)="operatorChange('startswith')">startswith</clr-button>
      <clr-button (click)="operatorChange('contains')">contains</clr-button>
      <clr-button (click)="operatorChange('endswith')">endswith</clr-button>
    </clr-button-group> -->
  </div>
</div>
