<div class="clr-row">
  <div class="clr-col-8">
    <clr-select-container>
      <label>Select Attribute</label>
      <select clrSelect name="options" #selectedAttribute>
        <option value="">Choose an attribute</option>
        <option
          *ngFor="let availableAttribute of availableAttributes$ | async"
          [value]="availableAttribute.id"
        >
          {{ availableAttribute.name }}
        </option>
      </select>
    </clr-select-container>
  </div>
  <div class="clr-col-4 clr-align-self-end add-filter-button">
    <button
      (click)="addFilter(selectedAttribute.value)"
      class="btn btn-primary btn-icon"
    >
      <clr-icon shape="plus-circle"></clr-icon>
      Add Filter
    </button>
  </div>
</div>
