.icon-column {
  width: 60px;
  min-width: 60px;
}

.icon-column-icon-link {
  cursor: pointer;
}

.less-padding-cell {
  padding: 6px;
}

.size-column {
  width: 56px;
  min-width: 56px;
}

.name-column {
  width: 150px;
  max-width: 30%;
  overflow-wrap: break-word;
}
