<div
  class="side-nav-bar"
  [ngClass]="{ 'side-nav-bar-collapsed': (showSideNav$ | async) === false }"
>
  <!-- overlay -->
  <div
    class="side-nav-bar-overlay"
    [ngStyle]="{
      transition:
        'background-color ' + duration + 's, visibility ' + duration + 's'
    }"
    [ngClass]="{
      'side-nav-bar-overlay-collapsed': (showSideNav$ | async) === false
    }"
    (click)="onSidebarClose()"
  ></div>

  <!-- side bar-->
  <div
    class="side-nav-bar-menu-container"
    [ngStyle]="getSideNavBarStyle(showSideNav$ | async)"
  >
    <!-- side bar header -->

    <div class="side-nav-bar-menu-container-header">
      <div class="clr-row">
        <div class="clr-col-1"></div>
        <div
          class="clr-col-5 side-nav-bar-badge"
          [ngClass]="{
            buttonSelected: (selectedSubNav$ | async) === SideBarSubNav.FILTERS
          }"
          (click)="onSubNavClick(SideBarSubNav.FILTERS)"
        >
          <clr-icon shape="filter"></clr-icon> FILTERS
          <span class="badge badge-info">9</span>
        </div>
        <div
          class="clr-col-5 side-nav-bar-badge"
          [ngClass]="{
            buttonSelected: (selectedSubNav$ | async) === SideBarSubNav.RESULTS
          }"
          (click)="onSubNavClick(SideBarSubNav.RESULTS)"
        >
          <clr-icon shape="view-list"></clr-icon> RESULTS
          <span class="badge badge-info">4711</span>
        </div>
        <div class="clr-col-1 side-nav-bar-close clr-align-self-center">
          <clr-icon shape="angle-double" (click)="onSidebarClose()"></clr-icon>
        </div>
      </div>
    </div>

    <!-- side bar content -->
    <div class="side-nav-bar-content-container">
      <hr />
      <div *ngIf="(selectedSubNav$ | async) === SideBarSubNav.FILTERS">
        <div class="side-nav-bar-content-element">
          <div class="clr-row clr-align-items-end">
            <div class="clr-col-6">
              <clr-input-container>
                <label>Api Base Url</label>
                <input
                  clrInput
                  placeholder="https://..."
                  value="{{ settings.apiBaseUrl }}"
                  (change)="onApiUrlChange($event.target)"
                />
              </clr-input-container>
            </div>
            <div class="clr-col-6">
              <clr-input-container>
                <label>Resource Name</label>
                <input
                  clrInput
                  placeholder="Products"
                  value="{{ settings.resourceName }}"
                  (change)="onApiResourceChange($event.target)"
                />
              </clr-input-container>
            </div>
          </div>
        </div>
        <hr />
        <div class="side-nav-bar-content-element">
          <app-filter-element-list></app-filter-element-list>
        </div>
        <hr />
        <div class="side-nav-bar-content-element">
          <form class="clr-form clr-form-vertical">
            <clr-textarea-container>
              <label class="clr-col-12">Filter Query</label>
              <textarea
                class="clr-col-12"
                clrTextarea
                style="width: 100%"
                required
                [value]="queryFilterFromService$ | async"
                (change)="onFilterQueryChange($event.target)"
              ></textarea>
            </clr-textarea-container>
          </form>
        </div>
        <hr />
        <div class="side-nav-bar-content-element">
          <form class="clr-form clr-form-vertical">
            <clr-textarea-container>
              <label class="clr-col-12">Query Result</label>
              <textarea
                class="clr-col-12"
                clrTextarea
                style="width: 100%"
                required
                [value]="queryResultFromService | json"
              ></textarea>
            </clr-textarea-container>
          </form>
        </div>
      </div>
      <div *ngIf="(selectedSubNav$ | async) === SideBarSubNav.RESULTS">
        <div class="side-nav-bar-content-element">
          <app-query-result-grid></app-query-result-grid>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- side bar flag -->
<div
  (click)="onSidebarOpen()"
  class="side-nav-bar-flag"
  [ngClass]="{ 'side-nav-bar-collapsed': (showSideNav$ | async) }"
>
  <clr-icon shape="filter"></clr-icon>
  <span class="badge badge-info">9</span>
  &nbsp;
  <clr-icon shape="view-list"></clr-icon>
  <span class="badge badge-info">4711</span>
</div>
