$side-bar-background-color: rgba(255, 255, 255, 0.8);
$side-bar-top-distance: 30px;
$container-content-padding-side: 32px;
$container-content-padding-top-bottom: 20px;

app-filter-sidebar {
  position: relative;
}

.side-nav-bar {
  position: absolute;
  z-index: 1001;
  top: 0px;
  // bottom: 0px;
  left: 0;
  // right: 0;

  .side-nav-bar-overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
  }

  .side-nav-bar-menu-container {
    position: absolute;
    top: $side-bar-top-distance;
    background: $side-bar-background-color;
    border-radius: 0 3px 3px 0;
    display: flex;
    flex-direction: column;

    .side-nav-bar-menu-container-header {
      padding: 15px;
    }

    .side-nav-bar-badge {
      text-align: left;
    }

    .side-nav-bar-close {
      text-align: right;
    }

    .side-nav-bar-close > clr-icon {
      cursor: pointer;
      transform: rotate(-90deg);
    }

    .side-nav-bar-content-container {
      hr {
        margin: 0;
        border: 0;
        border-top: 1px solid #c0c0c0;
      }
      .side-nav-bar-content-element {
        padding: $container-content-padding-top-bottom
          $container-content-padding-side $container-content-padding-top-bottom
          $container-content-padding-side;

        h3 {
          margin-top: 0;
        }
      }
    }
  }
}

.side-nav-bar-overlay-collapsed {
  background: transparent !important;
}

.side-nav-bar-collapsed {
  visibility: collapse !important;
}

.side-nav-bar-flag {
  position: absolute;
  white-space: nowrap;
  background: $side-bar-background-color;
  padding: 15px;
  z-index: 1001;
  top: $side-bar-top-distance;
  left: 0;
  border-radius: 0 3px 3px 0;
}

.side-nav-bar-flag > clr-icon {
  margin-right: 5px;
}
