<div
  class="side-nav-bar"
  [ngClass]="{ 'side-nav-bar-collapsed': (showSideNav$ | async) === false }"
>
  <!-- overlay -->
  <div
    class="side-nav-bar-overlay"
    [ngStyle]="{
      transition:
        'background-color ' + duration + 's, visibility ' + duration + 's'
    }"
    [ngClass]="{
      'side-nav-bar-overlay-collapsed': (showSideNav$ | async) === false
    }"
    (click)="onSidebarClose()"
  ></div>

  <!-- side bar-->
  <div
    class="side-nav-bar-menu-container"
    [ngStyle]="getSideNavBarStyle(showSideNav$ | async)"
  >
    <!-- side bar header -->

    <div class="side-nav-bar-menu-container-header">
      <div class="clr-row">
        <div class="clr-col-9 side-nav-bar-badge">
          <clr-icon shape="filter"></clr-icon> FILTERS
        </div>
        <div class="clr-col-3 side-nav-bar-close clr-align-self-center">
          <clr-icon shape="angle-double" (click)="onSidebarClose()"></clr-icon>
        </div>
      </div>
    </div>

    <!-- side bar content -->
    <div class="side-nav-bar-content-container">
      <hr />
      <div class="side-nav-bar-content-element">
        <app-filter-element-list></app-filter-element-list>

        <!-- <h3>
          <img alt="Satellite icon" src="assets/images/tabler-satellite.svg" />
          Product Selection
        </h3>
        <app-filter-product-type-selection></app-filter-product-type-selection> -->
      </div>
      <hr *ngIf="availableAttributes$ | async" [@panelInOut] />
      <div class="side-nav-bar-content-element">
        <form class="clr-form clr-form-vertical">
          <clr-textarea-container>
            <label class="clr-col-12">Filter Query</label>
            <textarea
              class="clr-col-12"
              clrTextarea
              style="width: 100%"
              required
              [value]="queryFromService$ | async | json"
            ></textarea>
          </clr-textarea-container>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- side bar flag -->
<div
  (click)="onSidebarOpen()"
  class="side-nav-bar-flag"
  [ngClass]="{ 'side-nav-bar-collapsed': (showSideNav$ | async) }"
>
  <clr-icon shape="filter"></clr-icon>
  <span class="badge badge-info">9</span>
</div>
