<div
  class="side-nav-bar"
  [ngClass]="{ 'side-nav-bar-collapsed': (showSideNav$ | async) === false }"
>
  <!-- side bar-->
  <div
    class="side-nav-bar-menu-container"
    [ngStyle]="getSideNavBarStyle(showSideNav$ | async)"
  >
    <!-- side bar header -->

    <div class="side-nav-bar-menu-container-header">
      <div class="clr-row">
        <div class="clr-col-11">
          <div class="clr-row">
            <div
              class="clr-col-4 side-nav-bar-badge"
              [ngClass]="{
                buttonSelected:
                  (selectedSubNav$ | async) === SideBarSubNav.FILTERS
              }"
              (click)="onSubNavClick(SideBarSubNav.FILTERS)"
            >
              <clr-icon shape="filter"></clr-icon> FILTERS
              <span *ngIf="filterCount$ | async" class="badge badge-info">{{
                filterCount$ | async
              }}</span>
            </div>
            <div
              class="clr-col-4 side-nav-bar-badge"
              [ngClass]="{
                buttonSelected:
                  (selectedSubNav$ | async) === SideBarSubNav.RESULTS
              }"
              (click)="onSubNavClick(SideBarSubNav.RESULTS)"
            >
              <clr-icon shape="view-list"></clr-icon>
              RESULTS
              <span *ngIf="resultCount$ | async" class="badge badge-info">{{
                resultCount$ | async
              }}</span>
              <clr-icon
                *ngIf="(loadingStatus$ | async).loading"
                shape="sync"
              ></clr-icon>
              <clr-icon
                *ngIf="(loadingStatus$ | async).error"
                shape="error-standard"
                class="is-error"
              ></clr-icon>
            </div>
            <div
              class="clr-col-4 side-nav-bar-badge"
              [ngClass]="{
                buttonSelected:
                  (selectedSubNav$ | async) === SideBarSubNav.DETAILS
              }"
              (click)="onSubNavClick(SideBarSubNav.DETAILS)"
            >
              <clr-icon shape="details"></clr-icon> DETAILS
            </div>
          </div>
        </div>
        <div class="clr-col-1 side-nav-bar-close clr-align-self-right">
          <clr-icon shape="angle-double" (click)="onSidebarClose()"></clr-icon>
        </div>
      </div>
    </div>

    <!-- side bar content -->
    <div class="side-nav-bar-content-container">
      <hr />
      <div *ngIf="(selectedSubNav$ | async) === SideBarSubNav.FILTERS">
        <div class="side-nav-bar-content-element">
          <app-filter-element-list></app-filter-element-list>
        </div>
        <hr />
        <div class="side-nav-bar-content-element">
          <app-region-selection-filter-element></app-region-selection-filter-element>
        </div>
        <hr />
        <div class="side-nav-bar-content-element">
          <clr-textarea-container>
            <label class="clr-col-12">Used query</label>
            <textarea
              class="clr-col-12"
              clrTextarea
              style="width: 100%"
              required
              [value]="queryFilterFromService$ | async"
              (change)="onManualFilterQueryChange($event.target)"
            ></textarea>
          </clr-textarea-container>
        </div>
      </div>
      <div *ngIf="(selectedSubNav$ | async) === SideBarSubNav.RESULTS">
        <div class="side-nav-bar-content-element">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="(loadingStatus$ | async).error"
          >
            <div class="alert-items">
              <div class="alert-item static">
                <div class="alert-icon-wrapper">
                  <clr-icon
                    class="alert-icon"
                    shape="exclamation-circle"
                  ></clr-icon>
                </div>
                <span class="alert-text alert-test-fix">
                  {{ (loadingStatus$ | async)?.error?.statusText }}
                  (Status: {{ (loadingStatus$ | async)?.error?.status }})
                  <br />
                  {{ (loadingStatus$ | async)?.error?.message }}
                </span>
              </div>
            </div>
          </div>
          <app-query-result-grid></app-query-result-grid>
        </div>
      </div>
      <div *ngIf="(selectedSubNav$ | async) === SideBarSubNav.DETAILS">
        <div class="side-nav-bar-content-element">
          <app-product-details></app-product-details>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- side bar flag -->
<div
  (click)="onSidebarOpen()"
  class="side-nav-bar-flag"
  [ngClass]="{ 'side-nav-bar-collapsed': (showSideNav$ | async) }"
>
  <clr-icon shape="filter"></clr-icon>
  <span *ngIf="filterCount$ | async" class="badge badge-info">{{
    filterCount$ | async
  }}</span>
  &nbsp;
  <clr-icon shape="view-list"></clr-icon>
  <span *ngIf="resultCount$ | async" class="badge badge-info">{{
    resultCount$ | async
  }}</span>
</div>
