$side-bar-background-color: rgba(255, 255, 255, 0.65);
$side-bar-top-distance: 30px;
$clarity-header-height: 60px;
$container-content-padding-side: 35px;
$container-content-padding-top-bottom: 15px;
$main-color: rgba(169, 169, 169, 0.8);
$secondary-color: rgba(211, 211, 211, 0.8);

:host {
  position: relative;
  background-color: pink;
}

.side-nav-bar {
  position: absolute;
  z-index: 1001;

  top: 0;
  left: 0;

  .side-nav-bar-menu-container {
    position: fixed;
    top: $side-bar-top-distance + $clarity-header-height;
    bottom: $side-bar-top-distance;
    background: $side-bar-background-color;
    border-radius: 0 3px 3px 0;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(1px);

    .side-nav-bar-menu-container-header {
      padding: 15px;
      padding-left: $container-content-padding-side;
    }

    .side-nav-bar-badge {
      text-align: center;
      border-bottom: thin solid $secondary-color;
    }

    .buttonSelected {
      background-color: $secondary-color;
      border-bottom: thin solid $main-color;
    }

    .side-nav-bar-close {
      text-align: right;
    }

    .side-nav-bar-close > clr-icon {
      cursor: pointer;
      transform: rotate(-90deg);
    }

    .side-nav-bar-content-container {
      height: 100%;
      overflow-y: auto;

      hr {
        margin: 0;
        border: 0;
        border-top: 1px solid $secondary-color;
      }
      .side-nav-bar-content-element {
        padding: $container-content-padding-top-bottom
          $container-content-padding-side $container-content-padding-top-bottom
          $container-content-padding-side;

        h3 {
          margin-top: 0;
        }
      }
    }
  }
}

.side-nav-bar-overlay-collapsed {
  background: transparent !important;
}

.side-nav-bar-collapsed {
  visibility: collapse !important;
}

.side-nav-bar-flag {
  position: absolute;
  white-space: nowrap;
  background: $side-bar-background-color;
  padding: 15px;
  z-index: 1001;
  top: $side-bar-top-distance;
  left: 0;
  border-radius: 0 3px 3px 0;
}

.side-nav-bar-flag > clr-icon {
  margin-right: 5px;
}

:host ::ng-deep clr-textarea-container > .clr-control-container {
  padding: 0 !important;
}
:host ::ng-deep clr-textarea-container > .clr-control-label {
  padding: 0 !important;
}

.alert-test-fix {
  word-break: break-word;
}
